html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: block;
	font-size: 18px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	margin: none;
	padding: none;
}

.box {
	height: calc(100% + 20px);
	width: 80%;
	top: 0;
	left: 0;
	margin: none;
	padding: none;
	overflow: hidden;
	position: absolute;
}

.box::before {
	top: 0;
	left: 0;
	z-index: 1;
	content: '';
	position: absolute;
	margin: none;
	padding: none;
}

.box::after {
	left: 0;
	bottom: 0;
	z-index: 1;
	content: '';
	position: absolute;
	margin: none;
	padding: none;
}

ul {
	margin: none;
	padding-top: none;
	padding-bottom: none;
	padding-right: 50px;
	padding-left: 50px;
	animation: scrollUp 200s infinite forwards;
	animation-timing-function: linear;
	height: 13100px;
	width: 80%;
	list-style-type: none;
}

@keyframes scrollUp {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-13100px);
	}
}
